<div class="wrapper">
  <% @gustos.each do |gusto|%>
    <div class="card" style="width: 100%; text-align: center; margin: 2rem auto auto auto">
      <p id="notice"><%= notice %></p>
      <header class="card-header">
        <p class="card-header-title">
          <%= gusto.nombre %>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            <%= gusto.descripcion %>
          </p>
        </div>
        <div class="field">
          <div class="field is-grouped is-grouped-centered">
            <%= link_to 'Ver detalles', gusto, class: "button is-info" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
