.general {
  position: absolute;
  top: 30vh;
  left: 80vw;
  width: 20vw;
  height: 40vh;
  background-color: #245bc8;
}

.title {
  font-size: 2.5vh;
  font-weight: bold;
  color: aliceblue;
}

.ping {
  color: black;
  font-size: large;
}

.noPing {
  color: red;
  font-size: 2vh;
}
