<div id="<%= dom_id coupon %>">
  <p>
    <strong>Name:</strong>
    <%= coupon.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= coupon.value %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= coupon.category_id %>
  </p>

</div>
