# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Enunciado.pdf
Ranking.txt

*.idea
*.DS_STORE